DATABASE_URL=postgresql://liveclass:liveclass@postgres:5432/liveclass
INITIAL_EVENT_COUNT=50000
EVENT_BATCH_SIZE=100
EVENT_INTERVAL_SECONDS=5
ANALYTICS_INTERVAL_SECONDS=30
METABASE_EMAIL=admin@liveclass.local
METABASE_PASSWORD=Liveclass!2026
